In [119]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [121]:
data=pd.read_csv("daTA.csv")
data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60
...,...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0,9.50
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0,4.00
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0,3.35
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0,11.50
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0,5.30

In [122]:
# Check for missing values in each column
missing_values = data.isnull().sum()
print(missing_values)

Car_Name         0
Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Selling_Price    0
dtype: int64

In [124]:
data.describe()

              Year  Present_Price     Kms_Driven       Owner  Selling_Price
count   301.000000     301.000000     301.000000  301.000000     301.000000
mean   2013.627907       7.628472   36947.205980    0.043189       4.661296
std       2.891554       8.644115   38886.883882    0.247915       5.082812
min    2003.000000       0.320000     500.000000    0.000000       0.100000
25%    2012.000000       1.200000   15000.000000    0.000000       0.900000
50%    2014.000000       6.400000   32000.000000    0.000000       3.600000
75%    2016.000000       9.900000   48767.000000    0.000000       6.000000
max    2018.000000      92.600000  500000.000000    3.000000      35.000000

In [127]:
# Calculate mean and standard deviation for 'Kms_Driven'
mean_kms = data['Kms_Driven'].mean()
std_kms = data['Kms_Driven'].std()

# Define the bounds for outlier detection
lower_bound = mean_kms - 3 * std_kms
upper_bound = mean_kms + 3 * std_kms

# Filter out outliers based on these bounds
data = data[(data['Kms_Driven'] >= lower_bound) & (data['Kms_Driven'] <= upper_bound)]
data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60
...,...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0,9.50
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0,4.00
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0,3.35
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0,11.50
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0,5.30

In [129]:
## Label encoding categorical variables

label_encoder = LabelEncoder()
data["Car_Name"] = label_encoder.fit_transform(data["Car_Name"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10952\969657702.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Car_Name"] = label_encoder.fit_transform(data["Car_Name"])

In [130]:
label_encoder = LabelEncoder()
data["Seller_Type"] = label_encoder.fit_transform(data["Seller_Type"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10952\3792729515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Seller_Type"] = label_encoder.fit_transform(data["Seller_Type"])

In [131]:
label_encoder = LabelEncoder()
data["Transmission"] = label_encoder.fit_transform(data["Transmission"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10952\1065690048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Transmission"] = label_encoder.fit_transform(data["Transmission"])

In [132]:
label_encoder = LabelEncoder()
data["Fuel_Type"] = label_encoder.fit_transform(data["Fuel_Type"])

C:\Users\hp\AppData\Local\Temp\ipykernel_10952\4077268704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Fuel_Type"] = label_encoder.fit_transform(data["Fuel_Type"])

In [134]:
data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,90,2014,5.59,27000,2,0,1,0,3.35
1,93,2013,9.54,43000,1,0,1,0,4.75
2,68,2017,9.85,6900,2,0,1,0,7.25
3,96,2011,4.15,5200,2,0,1,0,2.85
4,92,2014,6.87,42450,1,0,1,0,4.60
...,...,...,...,...,...,...,...,...,...
296,69,2016,11.60,33988,1,0,1,0,9.50
297,66,2015,5.90,60000,2,0,1,0,4.00
298,69,2009,11.00,87934,2,0,1,0,3.35
299,69,2017,12.50,9000,1,0,1,0,11.50
300,66,2016,5.90,5464,2,0,1,0,5.30

In [135]:
x=data.iloc[:,:-1]
y=data["Selling_Price"]

In [137]:
scaler = StandardScaler()

# Fit and transform the data
x = pd.DataFrame(scaler.fit_transform(x),columns=x.columns)

In [148]:
xTrain,xTest,yTrain,yTest=train_test_split(x,y,test_size=0.2,random_state=42)

In [162]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [166]:
# Initialize the models
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'K-Nearest Neighbors Regressor': KNeighborsRegressor(),
    'SVR': SVR(),
    'Random Forest Regressor': RandomForestRegressor()
}

# Train and evaluate each model
for name, model in models.items():
    model.fit(xTrain, yTrain)
    y_pred = model.predict(xTest)
    mse = mean_squared_error(yTest, y_pred)
    mae =  mean_absolute_error(yTest, y_pred)
    print(f"{name} Mean Squared Error: {mse:.4f}, Mean Absolute Error:{mae:.4f}  ")

Linear Regression Mean Squared Error: 4.2845, Mean Absolute Error:1.4177
Lasso Mean Squared Error: 10.6368, Mean Absolute Error:2.3931
Ridge Mean Squared Error: 4.2998, Mean Absolute Error:1.4192
Decision Tree Regressor Mean Squared Error: 1.1868, Mean Absolute Error:0.6423
K-Nearest Neighbors Regressor Mean Squared Error: 1.6943, Mean Absolute Error:0.8037
SVR Mean Squared Error: 11.5130, Mean Absolute Error:1.5391
Random Forest Regressor Mean Squared Error: 2.0386, Mean Absolute Error:0.7254